/* Cool scrollbar - also should be in own file */

#content-panel::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 0px 2px;
	background-color: #F5F5F5;
}

#content-panel::-webkit-scrollbar{
	width: 5px;
	background-color: #F5F5F5;
}

#content-panel::-webkit-scrollbar-thumb{
	border-radius: 0px 2px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: gray;
}

/* Bubbles - belong in another style file */

.mainbody-header{
  font-size: 30px;
  font-weight: 200;
  margin: 0px;
}

.home{
  border-left: 10px solid #333;
  border-radius: 2px;
  background-color: #DDD;
}

.bubble-container{
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px;
  background-color: #BB0000;
}

.bubble{
  width: 100%;
  min-height: 50px;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 5px 0px;
  background-color: white;
  box-shadow: inset 0px 0px 3px #330000;
}

.bubble-title{
  font-family: "PT Serif";
  color: white;
  font-size: 20px;
  font-weight: 400;
  margin: 3px 3px 8px 3px;
}

.bubble-data{
  margin-left: 25px;
  padding-top: 2px;
  font-family: "Raleway";
  font-size: 14px;
  font-weight: 400;
}

/* Actual styles unique to this page */

.header-three-sections{
  grid-template-columns: 300px 350px auto;
  grid-template-rows: 70px auto;
}
.header-three-sections-inverse{
  grid-template-columns: auto 350px 300px;
  grid-template-rows: 70px auto;
}

.banner{
  background-color: #333;
  border-radius: 2px;
}

.banner-title{
  color: white;
  margin: 0px;
  font-weight: 200;
}

#content-panel{
  border-radius: 2px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: #DDD;
  max-width: 300px;
  overflow: scroll;
}
