/* Structural styling (DOM width / height manipulation) */

/* Generic layout styles */
.noverflow { overflow: hidden; }
.full-height { height: 100%; }
.half-height { height: 50%; }
.full-width { width: 100%; }
.half-width { width: 50%; }
/* Grid styling */

.grid {
  display: grid;
  height: 100vh;
  overflow: hidden;
}

.three-sections{
  grid-template-columns: auto 350px auto;
  grid-template-rows: 100%;
}

.col-1{
  grid-column-start: 1;
  grid-column-end: 2;
}
.col-2{
  grid-column-start: 2;
  grid-column-end: 3;
}
.col-3{
  grid-column-start: 3;
  grid-column-end: 4;
}

/* these sets of styles handle the 50 50 grid setup*/
.header{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}
.footer{
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 2;
}
.two-thirds{
  grid-template-columns: 70% 0.5% 29%;
  grid-template-rows: 15% 1% 68% 1% 15%;
}
.first-half{
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
}
.second-half{
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 4;
}


/* Absolute and relative positioning */

.absolute { position: absolute; }
.relative { position: relative; }
.fixed { position: fixed; }

.top-0 { top: 0px; }
.top-5 { top: 5px; }
.top-10 { top: 10px; }
.top-15 { top: 15px; }
.top-20 { top: 20px; }

.right-0 { right: 0px; }
.right-5 { right: 5px; }
.right-10 { right: 10px; }
.right-15 { right: 15px; }
.right-20 { right: 20px; }

.bottom-0 { bottom: 0px; }
.bottom-5 { bottom: 5px; }
.bottom-10 { bottom: 10px; }
.bottom-15 { bottom: 15px; }
.bottom-20 { bottom: 20px; }

.left-0 { left: 0px; }
.left-5 { left: 5px; }
.left-10 { left: 10px; }
.left-15 { left: 15px; }
.left-20 { left: 20px; }

.bottom-right {
  bottom: 0px;
  right: 0px;
}
.top-right {
  top: 0px;
  right: 0px;
}
.bottom-left {
  bottom: 0px;
  left: 0px;
}
.top-left{
  top: 0px;
  left: 0px;
}

/* Padding and margins */

.m-auto{ margin: auto; }
.m-0 { margin: 0px; }
.m-5 { margin: 5px; }
.m-10 { margin: 10px; }
.m-15 { margin: 15px; }
.m-20 { margin: 20px; }

.margin-center {
  margin-left: auto;
  margin-right: auto;
}

.m-top-0 { margin-top: 0px; }
.m-top-5 { margin-top: 5px; }
.m-top-10 { margin-top: 10px; }
.m-top-15 { margin-top: 15px; }
.m-top-20 { margin-top: 20px; }

.m-right-0 { margin-right: 0px; }
.m-right-5 { margin-right: 5px; }
.m-right-10 { margin-right: 10px; }
.m-right-15 { margin-right: 15px; }
.m-right-20 { margin-right: 20px; }

.m-bottom-0 { margin-bottom: 0px; }
.m-bottom-5 { margin-bottom: 5px; }
.m-bottom-10 { margin-bottom: 10px; }
.m-bottom-15 { margin-bottom: 15px; }
.m-bottom-20 { margin-bottom: 20px; }

.m-left-0 { margin-left: 0px; }
.m-left-5 { margin-left: 5px; }
.m-left-10 { margin-left: 10px; }
.m-left-15 { margin-left: 15px; }
.m-left-20 { margin-left: 20px; }

.p-0 { padding: 0px; }
.p-5 { padding: 5px; }
.p-10 { padding: 10px; }
.p-15 { padding: 15px; }
.p-20 { padding: 20px; }

.p-top-0 { padding-top: 0px; }
.p-top-5 { padding-top: 5px; }
.p-top-10 { padding-top: 10px; }
.p-top-15 { padding-top: 15px; }
.p-top-20 { padding-top: 20px; }

.p-right-0 { padding-right: 0px; }
.p-right-5 { padding-right: 5px; }
.p-right-10 { padding-right: 10px; }
.p-right-15 { padding-right: 15px; }
.p-right-20 { padding-right: 20px; }

.p-bottop-0 { padding-bottom: 0px; }
.p-bottop-5 { padding-bottom: 5px; }
.p-bottop-10 { padding-bottom: 10px; }
.p-bottop-15 { padding-bottom: 15px; }
.p-bottop-20 { padding-bottom: 20px; }

.p-left-0 {padding-left: 0px; }
.p-left-5 { padding-left: 5px; }
.p-left-10 { padding-left: 10px; }
.p-left-15 { padding-left: 15px; }
.p-left-20 { padding-left: 20px; }

/* Flexbox styles */

.flex { display: flex; }

.flex-right{
  flex-direction: row-reverse;
}

.column {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.row {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.flex-center {
  justify-content: center;
}

.flex-left{
  align-items: left;
}

.flex-center-vertical {
  -ms-align-items: center;
  align-items: center;
}
